# Ambiente virtual
.venv/

# Variáveis de ambiente (NUNCA versionar)
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/staticfiles/
/media/

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db